.root {
    -fx-background-color: transparent;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: #E2E8F0;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-pref-height: 50px;
    -fx-max-width: Infinity;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 0 0 0 20;
    -fx-background-radius: 14;
    -fx-cursor: hand;
}

.menu-button:hover {
    -fx-background-color: #23314F;
}
.logout-button {
    -fx-background-color: #DC2626;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 12 15;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.logout-button:hover {
    -fx-background-color: #B91C1C;
}

.menu-button:selected,
.menu-button-active {
    -fx-background-color: #14B8A6;
    -fx-text-fill: white;
}

.btn-primary {
    -fx-background-color: #2563EB;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.btn-success {
    -fx-background-color: #10B981;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.btn-warning {
    -fx-background-color: #F59E0B;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.btn-danger {
    -fx-background-color: #EF4444;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.btn-info {
    -fx-background-color: #06B6D4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}

.btn-secondary {
    -fx-background-color: #64748B;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
}
